<h1>New site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :crn__c %><br />
    <%= f.text_field :crn__c %>
  </p>
  <p>
    <%= f.label :account__c %><br />
    <%= f.text_field :account__c %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :spid__c %><br />
    <%= f.text_field :spid__c %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', salesforce_sites_path %>