<p>
  <b>Crn  c:</b>
  <%=h @site.crn__c %>
</p>

<p>
  <b>Account  c:</b>
  <%=h @site.account__c %>
</p>

<p>
  <b>Name:</b>
  <%=h @site.name %>
</p>

<p>
  <b>Spid  c:</b>
  <%=h @site.spid__c %>
</p>


<%= link_to 'Edit', edit_salesforce_site_path(@site) %> |
<%= link_to 'Back', salesforce_sites_path %>