<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @faq.question %>
</p>

<p>
  <b>Anser:</b>
  <%= @faq.anser %>
</p>

<p>
  <b>Position:</b>
  <%= @faq.position %>
</p>


<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
