<head>
<h1>Choice of Records from Rest Sc4 <%= @criteria  %> </h1>
<h2> Click to choose accounts and contacts</h2>
<% form_tag  :controller => 'worksiteblock', :action => 'get_user_req' do %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="/javascripts/selectall.js" type="text/javascript" charset="utf-8"></script>
</head>
 <% if session[:page] > 1 %>
 <%= submit_tag "Prev page " %></td>
 <% end %>
 <% if session[:tot_pages] > session[:page] %>
 <%= submit_tag "Next page " %></td>
 <% end %>
 <%= submit_tag "Show more " %>
 <%= submit_tag "Show less " %>  

</div>
<body>
<table>
  <tr>
  	<% j =0 %>
    <th>All<%= check_box_tag 'accountsall' , 'toggle', false, :onclick => "toggleAll('accountselect');return true;" %></th> 
    <th>Account Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Zipcode</th>
    <th>City</th>
    <th>Status</th>
    <th>Subscribed</th>
    <th><%= link_to 'More info ...', worksiteblock_show_more_details_path %></th> 
  </tr>
  <% i =0 %>
  <% @mapped_data.each do |acc| %>
  	<% i= i+1 %>
  	<tr>
  		 <% checked = false %>
    	<% if session[:account_selected].blank? %> 
    		<% checked = false %>
    	<% elsif (session[:account_selected].include?("#{acc['parId']}")) %>
    		<% checked = true %>
    	<% end %>
    	
    	<td> <%= check_box_tag  "par_idset[#{i}]" , "#{acc['parId']}", checked, :id=>"par_idset_#{i}", :class => 'accountselect' %>   </td>
  	
	<td><%= acc["Name"]  %></td>
	<td><%= acc["Phone"]  %></td>
	<td><%= acc["Address"]  %></td>
	<td><%= acc["Zipcode"]  %></td>
	<td><%= acc["City"]  %></td>
	<td><%= acc["Status"]  %></td>
	<% checked = false %>      
  	<td><%= check_box_tag 'AccountSubscribed', "#{acc['Subscribed']}", acc["Subscribed"] == "true" ? checked=true : checked= false,  :disabled => true %></td>
    <td><%= submit_tag "Show Contacts "  + " " + "#{acc['parId']}" %></td>
    </tr>
    
  	<% this_acc_par_id = acc["parId"] %>
  	<% if  (params[:par] == this_acc_par_id)  or (@contacts_hash[this_acc_par_id].blank? == false) %>
  		<tr>
  			<th> <%= check_box_tag 'contactsall' , 'toggle', false, :onclick => "toggleAll('contactselect');return true;" %></th>
  		 	   
    		<th>Contact Name</th>
    		<th>Main Job Title</th>
    		<th>Status</th>
    		<th>Subscribed</th>
			
			
	</tr>
   		<% @contacts_hash[this_acc_par_id].each do |arr| %>
  		 <% j= j+1 %>
  		 <tr>
  		 	<% checked = false %>
    		<% if session[:contact_selected][this_acc_par_id].blank? %> 
    			<% checked = false %>
    		<% elsif (session[:contact_selected][this_acc_par_id].include?("#{arr['parId']}")) %>
     			<% checked = true %>
    		<% end %>
    		
    		<% if "#{arr['parId']}".blank? == false %>
    		<% value = "#{arr['parId']}" + " - " + "#{acc['parId']}"  %>
    		<td><%= check_box_tag  "par_contactset[#{j}]" , value, checked, :id=>"par_contactset_#{j}", :class => 'contactselect' %>   </td>
    		<% end %>
  			<td><%= arr["FirstName"]  %></td>
  			<td><%= arr["LastName"]   %></td>
    		<td><%= arr["MainJobTitle"]  %></td>
    		<td><%= arr["Status"]  %></td>
    		<% session[:accountPar] = "#{acc['parId']}" %>
    		<td><%= check_box_tag 'ContactSubscribed', "#{arr['Subscribed']}", arr["Subscribed"] == "true" ? checked=true : checked= false ,  :disabled => true %></td>
    		
  		</tr>
  		<% end %> 
 	<% end %>  
  <% end %>
</table>
<%= submit_tag "Add to SFDC" %>
<% end %>
</body>




 

