
 <h1> Enter Search Criteria </h1>
<h3> <%= @message %> </h3>
 <% form_tag  :controller => 'worksiteblock',  :action => 'find_by_wn' do %>
  <table>
  	
	<tr>
		<td><label>Worksite Name: </label></td>
		<td><%= text_field_tag :worksite %></td>
	</tr>
	<tr>
		<td><label>Country: </label></td>
		<td> <%= select_tag "country", options_for_select(@mapped_country) %>
		</td>
		
	</tr>
	<tr>
		<td><label>Address: </label></td>
		<td><%= text_field_tag  :address %></td>
	</tr>
	<tr>
		<td><label>City: </label></td>
		<td><%= text_field_tag :city %></td>
	</tr>
	<tr>
		<td><label>Zipcode: </label></td>
		<td><%= text_field_tag  :zipcode%></td>
	</tr>
	<tr>
		<td><label>Phone: </label></td>
		<td><%= text_field_tag  :phone %></td>
	</tr>
	<tr>
		<td><label>Group No: </label></td>
		<td><%= text_field_tag  :group %></td>
	</tr>
</table>
    <p><%= submit_tag 'Search'%></p>
<% end %>
