<h1>Choice of Records from Rest Sc4 </h1>
<h2> Click to choose records </h2>

<table>
  <tr>
    <th>Counter</th>
    <th>Name</th>
    <th>Company Number</th>
    <th>Par ID</th>
    <th> <%= link_to  'Select All', :controller => 'worksiteblock', :action => 'get_user_req', :orgId => @orgId, :mapped_data => @par_idset %></th>
    
  </tr>
  <% i =0 %>
  
  <% @mapped_data.each do |arr| %>
  <% i= i+1 %>
  <tr>
  	<td><%= i  %></td>
    <td><%= arr[0]  %></td>
    <td><%= arr[1]  %></td>
    <td><%= arr[2]  %></td>
    <td><%=hidden_field_tag 'orgId',  @orgId%></td>
    
    <td><%= link_to  'Select', :controller => 'worksiteblock', :action => 'get_user_req',  :id=>i, :par =>arr[2] , :orgId => @orgId %></td> 
 <% end %>
   
</table>
 

