<table border="0" cellspacing="1" cellpadding="5" bgcolor="#CCCCCC">
	
<tr id="label2" >Fields marked with (*) must be completed.</tr>
<% form_tag  :controller => "welcome", :action => "create" do %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="/javascripts/validation.js" type="text/javascript" charset="utf-8"></script>
  <tr>
    <td id="label"><%= label_tag :title, "Title *" %></td>
   <td id= "list"> <%= select_tag :title,  options_for_select(@title)%></td>
  </tr>
 
  <tr>
    <td id="label"><%= label_tag :fname, "First Name *" %></td>
    <td id= "text"><%= text_field_tag :fname %></td>
  </tr>
  <tr>
    <td id="label"><%= label_tag :lname, "Last name *" %></td>
     <td id= "text"><%= text_field_tag :lname %> </td>
  </tr>
  <tr>
		<td id="label"><%= label_tag :email, "Email *" %></td>
		<td id= "text"><%= text_field_tag :email %> </td>
	</tr>
	<tr>
		<td></td>
		<td id="label2"   align="center">This will be used to sign-in to your account</td>
	</tr>
	<tr>
		<td id="label"> <%= label_tag :landline, "Landline Number *" %></td>
		<td id= "text"><%= text_field_tag :landline %> </td>
	</tr>
	<tr>
		<td id="label"><%= label_tag :mobile, "Mobile Number *" %></td>
		<td id= "text"><%= text_field_tag :mobile %></td>
	</tr>
	<tr>
		<td id="label"><%= label_tag :crn, "Customer Reference Number *" %></td>
		<td id= "text"><%= text_field_tag :crn %> </td>
	</tr>
	<tr>
		<td id="label"><%= label_tag :spid, "Supply Point ID * " %> </td>
		<td id= "text"><%= text_field_tag :spid%> </td>
	</tr>
	<tr>
		
		<td id="label" >We would like to keep you up-to-date with our services and offers. Please let us know how you want us to keep in touch *.</td>
		
		<% checked = false %>
		<td>
		 <div id= "check">  <%= check_box_tag 'mail', '0', false %>By mail</div>
		 <div id= "check">  <%= check_box_tag 'phone', '0', false %>By phone</div>
		 <div id= "check">  <%= check_box_tag 'email', '0', false %>By email</div>
		 <div id= "check">  <%= check_box_tag 'none', '0', false %>Please DO NOT contact me</div>
		 </td>
	</tr>
	<tr>
	<td id="label" > </td>
	<td>
		
		<div id= "check">  <%= check_box_tag 'terms', '0', false %>Please confirm that all your details are correct and that you have agreed to the <%= link_to "terms and conditions", "http://www.business-stream.co.uk/terms-and-conditions", :target => "_blank" %>   (opens in a new window). </div>
		<div id= "check">  <%= check_box_tag 'policy', '0', false %>Please confirm that you have read and agree with the <%= link_to "privacy policy", "http://www.business-stream.co.uk/privacy-policy", :target => "_blank" %>  (opens in a new window). </div>
		</td>
			
	</tr>
  </table>
  <table>
	<tr>
		<%=  %>

		 <td id = "button"><button onclick="validate();" >    Sign me up >> </button> </td>
		 <td id="button"  align="center"><%= submit_tag "Cancel" %> </td>		 
	</tr>
	<tr><td id="text2" > We will email you a password</td></tr>
	
	
</table>
  <p></p>
<% end %>

