<h1> Selected Contact Fields for the OrgId <%= @orgId %></h1>
<table>
  <tr>
    <th>SFDC Contact Field</th>
    <th>PAR Contact Field</th>
    <th>Orgid</th>
  </tr>
 
 
<% @selectedcontactfields.each do |selectedfield| %>
  <tr>
    <td><%= selectedfield.sfdcfield %></td>
    <td><%= selectedfield.parfield %></td>
    <td><%= selectedfield.orgid %></td>
    
  </tr>
<% end %>
</table>
<p><%= link_to 'Welcome Screen', :controller=> 'welcome', :action => 'index'%></p>

