<span id="title" >User Detail</span>
<% form_tag  :controller => 'user', :action => 'update' do  %>

<table border="0" cellspacing="1" cellpadding="5" bgcolor="#CCCCCC" >
	<tr id="label2" >
		
		<th> Name </th>
		<th> Email </th>
		<th> Active Status </th>
		<th> SFDC Username</th>
		<th> Title </th>
		<th> UserName </th>
		<th> UserType </th>
		<th> Country </th>
		<th> Role </th>
		<th> Profile </th>
				
	</tr>
	
 <% if @users.blank? %>
   	<th>No users found </th>
  <% else %>
  <% @users.each do |user| %>
	<tr id = "text2">
		<% if var == 'index' %>
			<td><%= user.Name %></td>
		<% else %>
				<td><a href="/user/<%= user.Id%>"><%= user.Name %></a></td>
		<% end %>
		<td><%= user.Email %></td>
		<% checked = false %>      
  		<td><%= check_box_tag 'IsActive', user.IsActive , user.IsActive == true ? checked=true : checked= false,  :disabled => true %></td>
		<td></td>
		<td><%= user.Title %></td>
		<td><%= user.Username %></td>
		<td><%= user.UserType %></td>
		<td><%= user.PAR121__PAR_Country__c %></td>
		<% if user.UserRoleId %>
			<td><%= user.UserRoleId %> <%= " / " %>
				<%= session[:roles][user.UserRoleId] %></td>
		<% else %>
			<td></td>
		<% end %>
		<% if user.ProfileId %>
			<td><%= user.ProfileId %><%= " / " %><%= session[:profiles][user.ProfileId] %></td>
		<% else %>
			<td></td>
		<% end %>
		
		
	</tr>
  <% end %>
  <% end %>
  </table>


<p><%= link_to 'Search for User', user_search_path() %>
	</p>

 <% end %>
<p><%= link_to 'Create new User', user_new_path() %>
