<h1> Selecetd Fields for the OrgId <%= @orgId %></h1>
<table>
  <tr>
    <th>SFDC Field</th>
    <th>PAR Field</th>
    <th>Orgid</th>
  </tr>
 
 
<% @selectedfields.each do |selectedfield| %>
  <tr>
    <td><%= selectedfield.sfdcfield %></td>
    <td><%= selectedfield.parfield %></td>
    <td><%= selectedfield.orgid %></td>
    
  </tr>
<% end %>
</table>
<%= link_to 'Welcome Screen', :controller=> 'welcome', :action => 'index'%>

