<h1>Listing sfdctables</h1>

<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script src="javascripts/fieldlist.js" type="text/javascript" charset="utf-8"></script>
</head>


<table>
  <tr>
    <th>Fieldname</th>
    <th>Fieldlabel</th>
    <th>Fieldtype</th>
    <th>Orgid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
 
<% @sfdctables.each do |sfdctable| %>
  <tr>
    <td><%= sfdctable.fieldname %></td>
     <td><%= sfdctable.fieldlabel %></td> 
    <td><%= sfdctable.fieldtype %></td>
      
    <td><%= sfdctable.orgId %></td>
    
        
    <td><%= link_to 'Show', sfdctable %></td>
    <td><%= link_to 'Edit', edit_sfdctable_path(sfdctable) %></td>
    <td><%= link_to 'Destroy', sfdctable, :confirm => 'Are you sure?', :method => :delete %></td>
    <td> <a href="#"  OnClick="DoAction('<%= sfdctable.fieldname %>');"  >  ClickAgain</a> </td>
  </tr>
<% end %>
</table>
 
<br />



<br>
<a href="#" id="alert" message= "from the view" >  viewalert </a> 
  
<a href="#"  OnClick="DoAction('sent from DoAction');" >  Click </a> 
  
<%= link_to 'New Sfdctable', new_sfdctable_path %>
<br>
<%= link_to 'Welcome Screen', :controller=> 'welcome', :action => 'index'%>
<p> <%= will_paginate @sfdctables %>
